<a href="https://colab.research.google.com/github/GOMTAE/INTRO2DL/blob/main/Lecture_2_Basics_of_Python%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### SOURCE OF THIS TUTORIAL : https://docs.python.org/3/tutorial/introduction.html

### print function 
- print(some value you want to see) 
- In python 3, you must use "( )" for printing.

In [7]:
course_name = "Introduction to Deep Learning" # string variable "strings you want"
num_courses = 10
float_courses = 3.14

print(type(num_courses))

### Simple print function
print('Hello world!')

### ADD STRING WITH '+' OPERATION
print('Hello and welcome to ' + course_name)

course_name = 'Machine learning for ROBOTICS'
### OR ADD WITH {} AND 'format' function
print('The course\'s name is \"{}\"'.format(course_name))
print('The course\'s name is \"{}\"'.format(num_courses))
print('The course name {}, consists of {} lectures'.format(course_name, num_courses))
### OR use %s (strings) %d (integer) %f (float) ...
print('In %s course, we will learn various things! In total, %d courses will be provided %f.' %(course_name, num_courses,float_courses))

<class 'int'>
Hello world!
Hello and welcome to Introduction to Deep Learning
The course's name is "Machine learning for ROBOTICS"
The course's name is "10"
The course name Machine learning for ROBOTICS, consists of 10 lectures
In Machine learning for ROBOTICS course, we will learn various things! In total, 10 courses will be provided 3.140000.

### Python as a Calculator

In [11]:
print(2+2)
print(50-5*6)
print()

## Difference from Python 2 and Python 3 : division always makes the float result
print(18/5)
print()

## Use // for generating integer result after division. 
print(18//5)
print()

## % for get the reminder of the division
print(100 % 11)
print()

## ** for power. 
print(10 ** 2)
print(10 ** 3)

4
20

3.6

3

1

100
1000

### Some useful string operations
- s1.split()
-s1.join()
-s1.lower() and s1.upper()

### Indexing in the string (list)
```
 +---+---+---+---+---+---+
 | P | y | t | h | o | n | 
 +---+---+---+---+---+---+ 
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1
```

In [17]:
## Split the string! the default is spliting with space
curr_str = "It is the string for you! / Thanks a lot"
# print(curr_str.split())
# print(curr_str.split('!'))
print(curr_str.split('/'))
# print()
file_path = '/use/local/bin/python3'
print(file_path.split('/'))

## Join the strings in the list. s1.join(L) would make L[0] + s1 + L[1] + s1 + .... 
curr_char = ['w', 'h', 'a', 't', 'i', 's', 't', 'h', 'i', 's']
print(' '.join(curr_char)) # between the elements
print(''.join(curr_char))
print('HHH'.join(curr_char))
print()

## String to lower / upper cases
print(curr_str.lower())
print(curr_str.upper())
print()

curr_str = "ABCDEFGHIJKLMN"

## String can be indexed like a list (wait but what is the list?)!
print(curr_str[0])
print(curr_str[1])
print(curr_str[0:2])
print(curr_str[-1])
print(curr_str[-2])

['It is the string for you! ', ' Thanks a lot']
['', 'use', 'local', 'bin', 'python3']
w h a t i s t h i s
whatisthis
wHHHhHHHaHHHtHHHiHHHsHHHtHHHhHHHiHHHs

it is the string for you! / thanks a lot
IT IS THE STRING FOR YOU! / THANKS A LOT

A
B
AB
N
M

### List in Python : group other values together!
- Watch out for the indexing 
    - it starts from 0 1 2... 
    - If you want to go backward, it is -1, -2, -3, ....
- L[a:b]
    - slice the list "L" from a to b-1. Number of the elements will be "b-a"
- L1 + L2
    - Concatenating two list L1 and L2
- L.append(element)
    - Add the element at the end of L. The length of L will be increased.
- len(L)
    - Number of elements inside the List L

In [27]:
my_list = [0, 1, 2, 'a', 'b', 'c']
your_list = [3, 4, 5, 'd', 'e', 'f']

print(my_list, 'List can include elements from different types')
print('Length of list : {}'.format(len(my_list)))
len(my_list)
print()

## Watch out for orders
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[-1])
print(my_list[-2])
print(my_list[-3])
print()

## adding two list make concatenation
concat_list = my_list + your_list
print(concat_list)
print([my_list[i] + your_list[i] for i in range(len(my_list))])

## List can contain other list as element
super_list = [my_list, your_list, ["new!"]]
print(super_list[2])
print()

print(concat_list)
## add an element to total_list
concat_list.append('NEW FRIEND')
print(concat_list)
print()

## Delete the element of list
del concat_list[-1]
print(concat_list)
print()

# numbers = []
# for i in range(10):
#   print(i)
#   numbers.append(i)
# print(numbers)

numbers = [i for i in range(10)]
print(numbers)

## Delete the some part of the list
concat_list[0:3] = []
print(concat_list)
print()

print(concat_list.index('d')+1)

## find the INDEX of the element!
print('3 is at the {}th order in concat_list'.format( concat_list.index(3) + 1 ) )

[0, 1, 2, 'a', 'b', 'c'] List can include elements from different types
Length of list : 6

0
1
2
c
b
a

[0, 1, 2, 'a', 'b', 'c', 3, 4, 5, 'd', 'e', 'f']
[3, 5, 7, 'ad', 'be', 'cf']
['new!']

[0, 1, 2, 'a', 'b', 'c', 3, 4, 5, 'd', 'e', 'f']
[0, 1, 2, 'a', 'b', 'c', 3, 4, 5, 'd', 'e', 'f', 'NEW FRIEND']

[0, 1, 2, 'a', 'b', 'c', 3, 4, 5, 'd', 'e', 'f']

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'b', 'c', 3, 4, 5, 'd', 'e', 'f']

7
3 is at the 4th order in concat_list

### Dictionary in Python! 
- map 'key' with 'value'
- D['key'] = value

In [30]:
## DEFINE SOME DICTIONARY
deep_learning_tools = dict()
deep_learning_tools['Google'] = 'Tensorflow'
deep_learning_tools['Facebook'] = 'PyTorch'
deep_learning_tools['Apache'] = 'MXNet'

# print(deep_learning_tools)
print(deep_learning_tools.keys())
print(deep_learning_tools.values())
print()

## Iterate with key and values!
for k, v in deep_learning_tools.items():
    print('{} \t ----> \t  {}'.format(k, v))
print()

## print the length
print('Length of this dictionary : {}'.format(len(deep_learning_tools)))

## Some defenition of functions to copy the dictionary?
def copy_dict(original_dict):
    return {k: v for k, v in original_dict.items()}
print()

# [ ] <= list
# { } <= dictionary

## return the copied dictionary
print('COPIED : ', copy_dict(deep_learning_tools))

## OTHERWISE,
## import copy 
## copied_dict = copy.deepcopy(deep_learning_tools)

dict_keys(['Google', 'Facebook', 'Apache'])
dict_values(['Tensorflow', 'PyTorch', 'MXNet'])

Google 	 ----> 	  Tensorflow
Facebook 	 ----> 	  PyTorch
Apache 	 ----> 	  MXNet

Length of this dictionary : 3

COPIED :  {'Google': 'Tensorflow', 'Facebook': 'PyTorch', 'Apache': 'MXNet'}

### If statement
- Consists of **if, elif, else**.
```
if (some condition) :
    do something you want
elif (another condition) :
    do another thing you want
else: 
    do others you want
```
- Always add ' : ' !
- Grammar real English

In [34]:
test_int = 2
if test_int == 1:
  print("It is one")
else:
  print("hehe")
# python understands code based on indentation

hehe

In [35]:
input_int = int(input('Enter your positive integer value! : '))
if input_int < 0:
    print('NEGATIVE INTEGER!')
else:
    if input_int % 5 == 0:
        print('This integer can be divided by 5')
    elif input_int % 5 == 1:
        print('This integer leaves 1 after divided by 5')
    else:
        print('This interger leaves value larger than 1 after divided by 3')

Enter your positive integer value! : 3
This interger leaves value larger than 1 after divided by 3

### For statement and RANGE
```
for (something) in (something that can be iterated):
    do what you want with (something)
```
```
for idx in range(start, end, stride):
    idx would be start, start+stride, start+2*stride .....
```
* Always add ' : ' !
* Grammar like English

In [38]:
alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
for char in alphabet:
    print(char)
print()

for char_idx, char in enumerate(alphabet):
    print(char_idx, char)
print()


start_idx = 1
end_idx = 10
stride = 3

for idx in range(start_idx, end_idx, stride):
    print(alphabet[idx])
print()

for char in alphabet[start_idx:end_idx:stride]:
    print(char)
print()

print('Last character to be called : ' + char)
print()

for i in range(2):
    for j in range(10):
        value = i * 10 + j
        if i == 1 and j == 5:
            print('I want this number : '+str(value))
            break
        else:
            print(value)

a
b
c
d
e
f
g
h
i

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i

b
e
h

b
e
h

Last character to be called : h

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
I want this number : 15

In [ ]:
## Some tricks to make a list
print([x for x in range(10)])
print([x for x in range(10) if x % 2 == 0])
print([x**2 for x in range(10) if x % 2 is 1])
print()

## Some useful operations for the list
curr_list = [2, 5, 1, 3, 0, 8, 9, 9, 10, 10]
# curr_list = ['b', 'd', 't', 's', 'h', 'a']
print('Current List : ', curr_list)
print('Sum of list : {}'.format(sum(curr_list)))
print('Max of list : {}'.format(max(curr_list)))
print('Min of list : {}'.format(min(curr_list)))
print('Sorted List : ', sorted(curr_list))
print('Unique set : ', set(curr_list))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[1, 9, 25, 49, 81]

Current List :  [2, 5, 1, 3, 0, 8, 9, 9, 10, 10]
Sum of list : 57
Max of list : 10
Min of list : 0
Sorted List :  [0, 1, 2, 3, 5, 8, 9, 9, 10, 10]
Unique set :  {0, 1, 2, 3, 5, 8, 9, 10}

### While statement
```
while (some condition to keep this while loop) :
    do something you want
```

In [ ]:
cnt = 0
limit = 10
middle_point = 5

while cnt < limit:
    print('Current Counter : ', cnt)
    if cnt is middle_point:
        print('STOP')
        break
    # always care about infinite loop!
    cnt += 1

print('Final Counter : ', cnt)

Current Counter :  0
Current Counter :  1
Current Counter :  2
Current Counter :  3
Current Counter :  4
Current Counter :  5
STOP
Final Counter :  5

### Function Definition
```
def Name_of_Function(input1, input2, input3, ...) : 
    do something with input1, input2, input3,...
    return something_you_want
```

In [41]:
def Fibonacci(index):
    '''
    input : Generate a list until (index)-th of Fibonacci number.
    '''
    result = [1, 1]
    if index < 1:
        raise ValueError('Give the valid index, please')
        return []

    elif 1 <= index <= 2:
        return result[:index]

    else:
        result = [1, 1]
        for i in range(index-2):
            result.append(result[-1]+result[-2])

    return result

In [43]:
inp_index = int(input('Which order of Fibonacci number you want? : '))
print(Fibonacci(inp_index))

def foo(inp1, inp2, inp3=['aux inp']):
  print(inp1,inp2,inp3)

print(foo(1, 2,3))

Which order of Fibonacci number you want? : 3
[1, 1, 2]
1 2 3
None

### Class Definition
```
class ClassName(ParentClass):
    def __init__(self, inp1, inp2, ...):
        self.inp1 = inp1
        self.inp2 = inp2
        ...

    def some_function_you_want(self, inp3, inp4):
        return something_you_want
```

In [45]:
class RockBand(object):
    def __init__(self, name, num_members, start_year):
        self.name = name
        self.num_members = num_members
        self.start_year = start_year

    def add_new_member(self):
        print('One member added to {}.'.format(self.name))
        self.num_members += 1
    
    def remove_one_member(self):
        print('One member left from {}.'.format(self.name))
        self.num_members -= 1

    def change_name(self, new_name):
        print('Band will change their name from {} to {}'.format(self.name, new_name))
        self.name = new_name

    def __str__(self):
        return 'Band named %s, has %d members, and started from %d.' % (self.name, self.num_members, self.start_year)

In [50]:
import torch
class neuralnetwork(torch.nn.Module):
  pass

In [48]:
queen = RockBand('Queen', 4, 1970)
print(queen.num_members)
print(queen)

led_zeppelin = RockBand('Led Zeppelin', 4, 1968)
print(led_zeppelin)

queen.remove_one_member()
queen.add_new_member()
queen.change_name('King')
print(queen)

4
Band named Queen, has 4 members, and started from 1970.
Band named Led Zeppelin, has 4 members, and started from 1968.
One member left from Queen.
One member added to Queen.
Band will change their name from Queen to King
Band named King, has 4 members, and started from 1970.

### **This is not the END! you need to also learn about numpy.**